<!DOCTYPE html>
<html ng-app="karydakis">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Angular Firebase</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap-social.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body ng-controller="MainController">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Firebase App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/#!/tasks">Tasks</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#!/users">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#!/drive">Drive</a></li>
                </ul>
            </div>

            <div class="float-right" ng-if="user">
                <img ng-src="{{ user.picture }}" height="30">
                <span>{{ user.name }}</span>
                <button class="btn btn-danger btn-sm" ng-click="logout()">Logout</button>
            </div>

            <div class="float-right" ng-if="!user">
                <a href="/#!/login">Login</a>
            </div>
        </nav>

        <ng-view></ng-view>

        <!-- Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/firebase.js"></script>
        <script src="js/angularfire.min.js"></script>

        <!-- Custom Files -->
        <script src="js/app.js"></script>
        <script src="js/factories/User.js"></script>
        <script src="js/controllers/MainController.js"></script>
        <script src="js/controllers/UsersController.js"></script>
        <script src="js/controllers/TasksController.js"></script>
        <script src="js/controllers/LoginController.js"></script>
        <script src="js/controllers/DriveController.js"></script>
    </body>
</html>