<div class="container">
    <div class="row">
        <div class="col">
            <h3>Log in</h3>
            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="form.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="form.password">
                </div>
                <div class="alert alert-danger" ng-show="loginErr">{{ loginErr }}</div>
                <button type="submit" class="btn btn-primary" ng-click="emailLogin()">Login</button>
            </form>
        </div>
        <div class="col">
            <h3>Sign up</h3>
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" ng-model="register.name">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" ng-model="register.email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="register.password">
                </div>
                <div class="form-group">
                    <label>Picture</label>
                    <input type="text" class="form-control" placeholder="https://......" ng-model="register.picture">
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="male" value="male" ng-model="register.gender">
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="female" value="female" ng-model="register.gender">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="gay" value="gay" ng-model="register.gender">
                        <label class="form-check-label" for="gay">
                            Gay
                        </label>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="regErr">{{ regErr }}</div>
                <button type="submit" class="btn btn-primary" ng-click="submitRegister()">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-social btn-google" ng-click="socialLogin('google')">
                <span class="fa fa-google"></span> Sign in with Google
            </button>

            <div class="alert alert-danger" ng-show="socialErr">{{ socialErr }}</div>
        </div>
    </div>
</div>