<div class="container">
    <div class="row">
        <div class="col">
            <h1>Create Task</h1>
            <form>
                <input class="form-control" type="text" ng-model="task.title" placeholder="Title"/>
                <input type="file" id="myFile"/>

                <div class="progress">
                    <div 
                        class="progress-bar progress-bar-striped" 
                        role="progressbar" 
                        style="width: {{ uploadProgress }}%" 
                        aria-valuenow="{{ uploadProgress }}" 
                        aria-valuemin="0" 
                        aria-valuemax="100"
                    ></div>
                </div>

                <button ng-click="saveTask()" class="btn btn-success">Save</button>
            </form>
            <div class="alert alert-danger" ng-show="taskErr">{{ taskErr }}</div>
            <h1 ng-if="not">
                <pre>{{ not | json }}</pre>
            </h1>
            <h1>Tasks</h1>
            <ul>
                <li ng-repeat="(key,task) in tasks">
                    <button class="btn" ng-click="removeTask(key)">X</button>
                    <img ng-src="{{ task.photo }}" height="100" />
                    <h4>{{ task.title }}</h4>
                </li>
            </ul>
        </div>
    </div>
</div>